{% extends "base.html" %}
{% block content %}
<h2>Create a new schedule</h2>
<p><b>Note: all times must be inserted as minutes after midnight. Leave fields as default if you have no more courses to add</b></p>
<form action="" method="post" name="create">
  {{ form.hidden_tag() }}
  <p>Name: {{ form.name(size=80) }}</p>
  <ol>
    <li>
      <p>Course: {{ form.course1(size=80) }}</p>
      <ul>
        <li>
          <p>Start Time: {{ form.start_time1(size=10) }}</p>
        </li>
        <li>
          <p>End Time: {{ form.end_time1(size=10) }}</p>
        </li>
      </ul>
    </li>
    <li>
      <p>Course: {{ form.course2(size=80) }}</p>
      <ul>
        <li>
          <p>Start Time: {{ form.start_time2(size=10) }}</p>
        </li>
        <li>
          <p>End Time: {{ form.end_time2(size=10) }}</p>
        </li>
      </ul>
    </li>
    <li>
      <p>Course: {{ form.course3(size=80) }}</p>
      <ul>
        <li>
          <p>Start Time: {{ form.start_time3(size=10) }}</p>
        </li>
        <li>
          <p>End Time: {{ form.end_time3(size=10) }}</p>
        </li>
      </ul>
    </li>
    <li>
      <p>Course: {{ form.course4(size=80) }}</p>
      <ul>
        <li>
          <p>Start Time: {{ form.start_time4(size=10) }}</p>
        </li>
        <li>
          <p>End Time: {{ form.end_time4(size=10) }}</p>
        </li>
      </ul>
    </li>
    <li>
      <p>Course: {{ form.course5(size=80) }}</p>
      <ul>
        <li>
          <p>Start Time: {{ form.start_time5(size=10) }}</p>
        </li>
        <li>
          <p>End Time: {{ form.end_time5(size=10) }}</p>
        </li>
      </ul>
    </li>
  </ol>
  <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}
